<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <label>Username <span class='required_star'>*</span></label>
    <%= f.text_field :username, :required => true %>

    <label>Email <span class='required_star'>*</span></label>
    <%= f.text_field :email, :required => true %>

    <label>Client ID <span class='required_star'>*</span></label>
    <%= f.text_field :client_id, :required => true %>

    <label>Client secret <span class='required_star'>*</span></label>
    <%= f.text_field :client_secret, :required => true %>

    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
