<%= form_for(@user, :html => { :id => "user_form" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <label>Username <span class='required_star'>*</span></label>
    <%= f.text_field :username, :required => true %>

    <label>Email <span class='required_star'>*</span></label>
    <%= f.text_field :email, :required => true %>

    <label>Client ID (Use "p6a0red5io6r6zxlr7pufqrjntqacch3" for demo) <span class='required_star'>*</span></label>
    <%= f.text_field :client_id, :required => true %>

    <label>Client secret (Use "H3i0MW2pkWuR9iQQpYfnci3OIupj3v8j" for demo) <span class='required_star'>*</span></label>
    <%= f.text_field :client_secret, :required => true %><br><br>

    <%= f.submit :class => "btn btn-primary", :id => "user_btn", "data-loading-text" => "Please wait..."  %>
  </div>
<% end %>

<%= javascript_tag do -%>
  jQuery('#user_form').submit(function () {
    if (jQuery('#user_form').valid()) {      
      jQuery("#user_btn").button('loading');
    }
  });
<% end %>
