<div class="pull-left">
  <%= link_to 'Projects', projects_path %> / Payoffs<br>
  <h1>Listing payoffs</h1>
</div>  

<%= link_to 'New Payoff', new_project_payoff_path, :class => "pull-right btn btn-primary" %>

<% if @payoffs.empty? %>
  <div><p><br><br><br>There are no payoffs added to this project!</p></div>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="30%">Name</th>
        <th width="40%">URL</th>
        <th>Actions</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @payoffs.each do |payoff| %>
        <tr>
          <td><%= payoff.name %></td>
          <td><%= link_to(payoff.url, payoff.url) %></td>
          <td><%= link_to 'Show', payoff_path(payoff) %></td>
          <td><%= link_to 'Edit', edit_payoff_path(payoff) %></td>
          <td><%= link_to 'Destroy', payoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>      
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
