<div class="pull-left">
  <%= link_to 'Projects', projects_path %> / Images<br>
  <h1>Listing images</h1>
</div>  
<%= link_to 'New Image', new_project_image_path, :class => "pull-right btn btn-primary" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="40%">Description</th>
      <th width="20%">Logo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td><%= image.description %></td>
        <td><%= image.original_file_name ? link_to("image", image.original.url) : "" %></td>
        <td><%= link_to 'Show', image_path(image) %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>      
    <% end %>
  </tbody>
</table>

<br>
